*{
  box-sizing: border-box;
}

/* месяцы и годы */
#month-calendar{
  margin: auto;
  width: 50%;
}

.month{
  margin: 0;
  padding: 48px 32px 32px;
  background: #555555;
  text-align: center;
  width: 100%;
  color: #ffffff;
  list-style: none;
}

.month li{
  padding: 0;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.month li.prev,
.month li.next{
  cursor: pointer;
}

.month li.prev{
  float: left;
}

.month li.next{
  float: right;
}

.month li.year-name{
  font-size: 24px;
  font-weight: 400;
}

/* дни недели */
.weekdays{
  margin: 0;
  padding: 16px 0;
  background-color: #dddddd;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

.weekdays li{
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
}

/* дни */
.days{
  margin: 0;
  padding: 16px 0;
  background-color: #eeeeee;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  height: 14rem;
}

.days li{
  padding: 0.5rem;
  list-style: none;
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
  color: #999;
  font-size: 0.9rem;
  line-height: 16px;
}

.days li.date-now{
  color: #000;
  font-weight: 700;
}

.input-date{
  padding: 15px;
  text-align: center;
}

#show {
  background-color: #555555; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}